{% assign default_hero_image = 'images/hero.jpg' | asset_url %}
{% assign hot_tags = page.settings.hot_tags | split: ',' %}

<section id="hero" class="flex items-center justify-center flex-col bg-no-repeat bg-cover bg-center {% if page.settings.hero_image_url %} bg-base-200 {% else %} bg-base-300 {% endif %} h-[250px] md:h-[350px]"
{% if page.settings.hero_image_url %} style="background-image: url({{ page.settings.hero_image_url | default: default_hero_image }})" {% endif %}
>
<div class="flex items-center justify-center flex-1 w-full py-3">
  <div class="container mx-auto flex flex-col h-full px-4">
    <div class="flex flex-col items-center justify-center flex-grow">
      <h1 class="py-2 mt-12 text-2xl md:text-4xl font-bold transition duration-500 md:mt-0 text-shadow">
        {{ page.settings.title }}
      </h1>
      <p class="py-2 text-base transition duration-500 text-shadow">{{ page.settings.description }}</p>

      <div class="mx-auto w-full md:max-w-2xl lg:max-w-4xl z-0 flex flex-col items-center justify-center">
        {% form_tag 'search', class: 'w-full' %}
          <div class="relative rounded-2xl shadow-sm">
            <button type="submit" class="absolute inset-y-0 right-0 flex items-center pl-4 pr-3 sm:right-auto">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor" > <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /> </svg>
            </button>
            <input
              type="text"
              name="{{form.keywords_field_name}}" value="{{ search.keywords | escape_once }}"
              placeholder="{{ "placeholders.search" | t }}"
              autocomplete="off"
              class="block text-primary w-full h-10 md:h-12 lg:h-14 pl-3 pr-10 transition duration-300 ease-in-out bg-accent-100 bg-opacity-90 border-primary border-2 rounded outline-none focus:ring-0 focus:border-primary focus:border-4 sm:pl-12 sm:text-lg focus:bg-opacity-90"
            >
          </div>
        {% endform_tag %}

          <div class="items-center justify-start hidden w-full mt-4 md:flex">
            <p class="mr-3 text-primary">{{ 'generic.popular_search' | t }}:</p>
            {% for search_hot_key in hot_tags %}
              <a
                href="{{site.index_path}}-/search?q={{ search_hot_key }}"
                class="mr-3 hover:underline focus:ring"
              >
                {{ search_hot_key }}
              </a>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>
</section>