{% assign children_size = page.children_in_list | size %}

<li class="max-w-72 text-clip overflow-hidden]">
  {% if children_size > 0 %}
    <h2 class="menu-title flex justify-between items-center gap-4 px-1.5">
      <span class="text-primary">{{ page.link_text | truncate: 28 }}</span>
      {% if true %}
        <a href="{{ page.path }}"
          class=""
          data-turbo-frame="main-content"
          data-turbo-action="advance"
          data-action="click->navtree#toggleActive"
          @click="document.getElementById('my-drawer-2').click();"
        >
          ...
        </a>
      {% endif %}
    </h2>
    <ul>
      {% for sub_page in page.children_in_list %}
        <li class="flex flex-col max-w-72 text-clip overflow-hidden]">
          {% assign sub_children_size = sub_page.children_in_list | size %}
          {% if sub_children_size > 0 %}
            {% render 'tree', page: sub_page %}
          {% else %}
            <a href="{{ sub_page.path }}"
              data-turbo-frame="main-content"
              data-turbo-action="advance"
              data-action="click->navtree#toggleActive"
              @click="document.getElementById('my-drawer-2').click();"
            >
                {{ sub_page.link_text | truncate: 28 }}
                {% if sub_page.settings.show_new_tag %}<div class="badge badge-primary badge-sm">New</div>{% endif %}
            </a>
          {% endif %}
        </li>

      {% endfor %}
    </ul>
  {% else %}
    <a href="{{ page.path }}"
      data-turbo-frame="main-content"
      data-turbo-action="advance"
      data-action="click->navtree#toggleActive"
      @click="document.getElementById('my-drawer-2').click();"
    >
      {{ page.link_text | truncate: 28 }}
      {% if page.settings.show_new_tag %}<div class="badge badge-primary badge-sm">New</div>{% endif %}
    </a>
  {% endif %}
</li>
