{% assign dom_id = page.id | append: 'navtree' %}
{% assign expanded = expanded_ids | contains: page.id %}
{%# assign active = selected_ids | contains: page.id %}
{% if params.depth %}
  {% assign depth = params.depth %}
{% else %}
  {% assign depth = 0 %}
{% endif %}
{% assign children_size = page.children_in_list | size %}


<li
  id="treeview-item__{{ dom_id }}"
  x-data="{ expanded: {{ !!expanded }} }"
  x-init="$watch('expanded', value => { document.getElementById('js-treeview__{{ dom_id }}')._x_dataStack[0].show = value; })"
  class="max-w-72 overflow-hidden"
>
  {% if children_size > 0 %}
    <details {% if expanded %} open {% else %} close {% endif %} x-on:click=" expanded = true ">
      <summary>
        <a
          href="{{ page.path }}"
          data-turbo-frame="main-content"
          data-turbo-action="advance"
          class="font-semibold truncate"
          data-action="click->navtree#toggleActive"
          @click="document.getElementById('my-drawer-2').click();"
        >
          <span>{{ page.link_text | truncate: 38}}</span>
          {% if page.settings.show_new_tag %}<div class="badge badge-primary badge-sm">New</div>{% endif %}
        </a>
      </summary>
      <template x-teleport="#js-treeview__{{ dom_id }}">
        {% assign selected_ids = selected_ids | join: ',' %}
        {% assign depth = depth | plus: 1 %}
        <turbo-frame
          id="frame-treeview__{{ dom_id }}"
          src="{{ site.nav_tree_path |  append: '?parent=' | append: page.id | append: '&selected_ids=' | append: selected_ids | append: '&depth=' | append: depth }}"
          loading="lazy"
        >
        </turbo-frame>
      </template>
      <ul
        id="js-treeview__{{ dom_id }}"
        class="max-w-72"
        x-data="{ show: {{ !!expanded }} }"
        x-show="show"
        x-cloak
        x-collapse
      ></ul>
    </details>
  {% else %}
    <a
      href="{{ page.path }}"
      data-turbo-frame="main-content"
      data-turbo-action="advance"
      class="current"
      data-action="click->navtree#toggleActive"
      @click="document.getElementById('my-drawer-2').click();"
    >
      <span>{{ page.link_text | truncate: 38 }}</span>
      {% if page.settings.show_new_tag %}<div class="badge badge-primary badge-sm">New</div>{% endif %}
    </a>
  {% endif %}
</li>
