<!doctype html>
<html lang="{{ site.language }}" class="scroll-smooth" data-theme="{{ site.settings.daisy_theme.value |  default: 'light' }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Baklib">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% meta_tags %}

    {{ 'css/viewer.min.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'javascripts/main.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'css/main.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}

    {%# 切换theme主题色 <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script> %}
    {% unless site.settings.is_close_theme_select %}
      {{ 'javascripts/theme-change-2.0.2.js' | asset_url | script_tag: data-turbo-track: 'reload' }}
    {% endunless %}
    <script>
      localStorage.setItem("theme", "{{ site.settings.daisy_theme.value |  default: 'light' }}");
    </script>

    {%# TIPS：在低代码平台开发时，请打开下一行代码注释 %}
    {% if false %}
      <link href="https://unpkg.com/daisyui@latest/dist/full.css" rel="stylesheet">
    {% endif %}
    {% if false %}
      {%# <script src="https://cdn.tailwindcss.com"></script> %}
      {{ 'javascripts/cdn.tailwindcss.js' | asset_url | script_tag: data-turbo-track: 'reload' }}
    {% endif %}

    {{ site.settings.head_html }}
  </head>
  <body class="">

    {% if page.slug == "" or page.slug == nil %}
      <!-- 首页或静态页样式：page.slug == ""为首页，page.slug == nil 为statics/下静态页 -->
      <div class="flex flex-col min-h-screen overflow-auto"
        x-data="{ scrolled: false }"
        x-init="
          window.addEventListener('scroll', () => {
            scrolled = window.scrollY > window.innerHeight;
          });
        "
      >
        {% render 'header', settings: site.settings %}
        {{ content_for_layout }}
        {% render 'footer', settings: site.settings %}
        {%# render 'plugins', settings: site.settings %}
        <!-- scroll bar -->
        <button x-show="scrolled" x-cloak
        @click="
          window.scrollTo({
            top: 0,
            behavior: 'smooth'
          });
        "
        class="fixed z-50 flex items-center justify-center w-10 h-10 rounded-full bottom-4 right-4 xl:w-16 xl:h-16 bg-base-300 hover:bg-primary"
        >
          <svg class="w-5 h-5" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 33L24 21L36 33" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 13H36" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    {% else %}
      <!-- 文档页样式 -->
      <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
          <!-- Header Section -->
          {% render 'header', settings: site.settings, page: page %}
          <!-- Main Content Section -->
          <div class="relative min-h-screen overflow-auto"
            x-data="{ scrolled: false }"
            x-init="
              window.addEventListener('scroll', () => {
                scrolled = window.scrollY > window.innerHeight;
              });
            "
          >

            {{ content_for_layout }}
            <!-- scroll bar -->
            <button x-show="scrolled" x-cloak
              @click="
                window.scrollTo({
                  top: 0,
                  behavior: 'smooth'
                });
              "
              class="fixed z-50 flex items-center justify-center w-10 h-10 rounded-full bottom-4 right-4 xl:w-16 xl:h-16 bg-base-300 hover:bg-primary"
            >
              <svg class="w-5 h-5" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 33L24 21L36 33" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 13H36" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
        <!-- Sidebar Section -->
        {% render 'sidebar', settings: site.settings, page: page %}
      </div>
    {% endif %}
    <!-- Clipboard style pre-compile -->
    <span class="flex ml-1 opacity-10 group-hover:opacity-100"></span>
  </body>
</html>
