<!-- locals: pages: 搜索返回结果, keywords: 搜索关键词 search.extends - 自定义结果集  search.page_number - 当前分页的页码 -->
<main class="grow">

  <div class="relative px-4 mx-auto max-w-7xl sm:px-6">

    <!-- Main content -->
    <div class="pb-8 w-5xl">

      <!-- Page header -->
      <div class="flex justify-between my-2 md:my-4">
        <a class="mr-auto flex" href="javascript: history.back();">
          <button class="btn btn-sm rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
              <path fill="currentColor"
                d="M16.707 19.293 9.414 12l7.293-7.293-1.414-1.414L6.586 12l8.707 8.707 1.414-1.414z"></path>
            </svg>
            <span class="text-xs md:text-sm font-medium">{{ "generic.back" | t }}</span>
          </button>
        </a>

        <div>
          {% render 'search_modal' %}
        </div>
      </div>

      <div class="space-y-3">
        {% if search.page_number == 1 %}
          {% for link in search.extends %}
            <div class="rounded-md md:p-4 border-b border-accent hover:bg-accent-100">
              <a class="text-lg md:text-xl hover:underline search-highlight-block" href="{{ link.url }}">{{ link.link_text }}</a>
              <p class="text-sm mt-2 ml-4 line-clamp-2 text-slate-500 search-highlight-block">{{ link.url }}</p>
            </div>
          {% endfor %}
        {% endif %}
        {% paginate_tag search.pages, as: 'pages', per: 10 %}
          {% for page in pages %}
            <div class="rounded-md md:p-4 border-b border-accent hover:bg-accent-100">
              <a class="text-lg md:text-xl hover:underline search-highlight-block" href="{{ page.path }}">{{ page.highlighted_search_title }}</a>
              <p class="text-sm mt-2 ml-4 line-clamp-2 text-slate-500 search-highlight-block">{{ page.highlighted_search_content }}</p>
            </div>
          {% else %}
            <div class="hero bg-base-200 h-44 rounded-lg">
              <div class="hero-content text-center">
                <div class="max-w-md">
                  <p class="py-6">
                    {{ "search.no_results" | t: 'No results found' }}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
          {% render 'paginate', paginate: paginate %}
        {% endpaginate_tag %}
      </div>

    </div>
  </div>

</main>
